#org.phoebus.pv/default=ca
#org.phoebus.pv.ca/addr_list=acq2106_999
#org.phoebus.pv.ca/auto_addr_list=false

#org.phoebus.pv/default=pva
#org.phoebus.pv.pva/epics_pva_addr_list=acq2106_999
#org.phoebus.pv.pva/epics_pva_auto_addr_list=false

#org.phoebus.pv.ca/max_array_bytes=100000000


