##### Temporary readouds from ADC #####
record(longin, ""$(acc):$(sys)_$(group)_$(num):Readout_r") {
    field(DESC, "Readout from ADC")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))$(num)_READOUT_R")
    field(SCAN, "I/O Intr")
} 
