record(longout, "$(acc):$(sys)_$(group)_RTD1_$(cav):Dac_s") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))RTD1_$(cav)_DAC_S")
    field(SCAN, "Passive")
}

record(longout, "$(acc):$(sys)_$(group)_RTD1_$(cav):Pga_s") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))RTD1_$(cav)_PGA_S")
    field(SCAN, "Passive")
}

record(longin, "$(acc):$(sys)_$(group)_RTD1_$(cav):Dac_r") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))RTD1_$(cav)_DAC_R")
    field(SCAN, "I/O Intr")
}

record(longin, "$(acc):$(sys)_$(group)_RTD1_$(cav):Pga_r") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))RTD1_$(cav)_PGA_R")
    field(SCAN, "I/O Intr")
}

record(longout, "$(acc):$(sys)_$(group)_FEP1_$(cav):Dac_s") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))FEP1_$(cav)_DAC_S")
    field(SCAN, "Passive")
}

record(longin, "$(acc):$(sys)_$(group)_FEP1_$(cav):Dac_r") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))FEP1_$(cav)_DAC_R")
    field(SCAN, "I/O Intr")
}
