
record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll1_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTA, "$(acc):$(sys)_$(group)_FEP1_C1:Reset_s.PROC")
    field(OUTB, "$(acc):$(sys)_$(group)_FEP1_C2:Reset_s.PROC")
    field(OUTC, "$(acc):$(sys)_$(group)_FEP1_C3:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_FEP1_C4:Reset_s.PROC")
    field(OUTE, "$(acc):$(sys)_$(group)_NIRP1:Reset_s.PROC")
    field(OUTF, "$(acc):$(sys)_$(group)_NIRP2:Reset_s.PROC")
    field(OUTG, "$(acc):$(sys)_$(group)_NIRP3:Reset_s.PROC")
    field(OUTH, "$(acc):$(sys)_$(group)_NIRP4:Reset_s.PROC")
    field(FLNK, "$(acc):$(sys)_$(group)_$(num):ResetAll2_s.PROC")
}

record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll2_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTA, "$(acc):$(sys)_$(group)_NIRP5:Reset_s.PROC")
    field(OUTB, "$(acc):$(sys)_$(group)_NIRP6:Reset_s.PROC")
    field(OUTC, "$(acc):$(sys)_$(group)_RTD1_C1:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_RTD1_C2:Reset_s.PROC")
    field(OUTE, "$(acc):$(sys)_$(group)_RTD1_C3:Reset_s.PROC")
    field(OUTF, "$(acc):$(sys)_$(group)_RTD1_C4:Reset_s.PROC")
    field(FLNK, "$(acc):$(sys)_$(group)_$(num):ResetAll3_s")
}

record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll3_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTC, "$(acc):$(sys)_$(group)_HVVOLT_C1:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_HVVOLT_C2:Reset_s.PROC")
    field(OUTE, "$(acc):$(sys)_$(group)_HVVOLT_C3:Reset_s.PROC")
    field(OUTF, "$(acc):$(sys)_$(group)_HVVOLT_C4:Reset_s.PROC")
    field(OUTG, "$(acc):$(sys)_$(group)_HVCURR_C1:Reset_s.PROC")
    field(OUTH, "$(acc):$(sys)_$(group)_HVCURR_C2:Reset_s.PROC")
    field(FLNK, "$(acc):$(sys)_$(group)_$(num):ResetAll4_s")
#    field(OUTA, "$(acc):$(sys)_$(group)_SSADC_PERM:Reset_s.PROC")
}

record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll4_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTA, "$(acc):$(sys)_$(group)_HVCURR_C3:Reset_s.PROC")
    field(OUTB, "$(acc):$(sys)_$(group)_HVCURR_C4:Reset_s.PROC")
    field(OUTC, "$(acc):$(sys)_$(group)_PSP_C1:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_PSP_C2:Reset_s.PROC")
    field(OUTE, "$(acc):$(sys)_$(group)_PSP_C3:Reset_s.PROC")
    field(OUTF, "$(acc):$(sys)_$(group)_PSP_C4:Reset_s.PROC")
    field(OUTG, "$(acc):$(sys)_$(group)_VS:Reset_s.PROC")
    field(OUTH, "$(acc):$(sys)_$(group)_HE_LEVEL:Reset_s.PROC")
    field(FLNK, "$(acc):$(sys)_$(group)_$(num):ResetAll5_s")
}

record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll5_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTA, "$(acc):$(sys)_$(group)_CVP_C1:Reset_s.PROC")
    field(OUTB, "$(acc):$(sys)_$(group)_CVP_C2:Reset_s.PROC")
    field(OUTC, "$(acc):$(sys)_$(group)_CVP_C3:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_CVP_C4:Reset_s.PROC")
    field(OUTE, "$(acc):$(sys)_$(group)_CAS_C1:Reset_s.PROC")
    field(OUTF, "$(acc):$(sys)_$(group)_CAS_C2:Reset_s.PROC")
    field(OUTG, "$(acc):$(sys)_$(group)_CAS_C3:Reset_s.PROC")
    field(OUTH, "$(acc):$(sys)_$(group)_CAS_C4:Reset_s.PROC")
    field(FLNK, "$(acc):$(sys)_$(group)_$(num):ResetAll6_s")
}

record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll6_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTA, "$(acc):$(sys)_$(group)_SSA_C1:Reset_s.PROC")
    field(OUTB, "$(acc):$(sys)_$(group)_SSA_C2:Reset_s.PROC")
    field(OUTC, "$(acc):$(sys)_$(group)_SSA_C3:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_SSA_C4:Reset_s.PROC")
    field(OUTE, "$(acc):$(sys)_$(group)_LLRF_PERM_C1:Reset_s.PROC")
    field(OUTF, "$(acc):$(sys)_$(group)_LLRF_PERM_C2:Reset_s.PROC")
    field(OUTG, "$(acc):$(sys)_$(group)_LLRF_PERM_C3:Reset_s.PROC")
    field(OUTH, "$(acc):$(sys)_$(group)_LLRF_PERM_C4:Reset_s.PROC")
    field(FLNK, "$(acc):$(sys)_$(group)_$(num):ResetAll7_s")
}

record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll7_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTA, "$(acc):$(sys)_$(group)_SSA_PERM_C1:Reset_s.PROC")
    field(OUTB, "$(acc):$(sys)_$(group)_SSA_PERM_C2:Reset_s.PROC")
    field(OUTC, "$(acc):$(sys)_$(group)_SSA_PERM_C3:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_SSA_PERM_C4:Reset_s.PROC")
    field(OUTE, "$(acc):$(sys)_$(group)_SSADC_PERM_C1:Reset_s.PROC")
    field(OUTF, "$(acc):$(sys)_$(group)_SSADC_PERM_C2:Reset_s.PROC")
    field(OUTG, "$(acc):$(sys)_$(group)_SSADC_PERM_C3:Reset_s.PROC")
    field(OUTH, "$(acc):$(sys)_$(group)_SSADC_PERM_C4:Reset_s.PROC")
    field(FLNK, "$(acc):$(sys)_$(group)_$(num):ResetAll8_s")
}

record(dfanout, "$(acc):$(sys)_$(group)_$(num):ResetAll8_s") {
    field(DESC, "Reset all signals")
    field(DOL,  "1")
    field(OMSL, "closed_loop")
    field(OUTA, "$(acc):$(sys)_$(group)_MPS_PERM_C1:Reset_s.PROC")
    field(OUTB, "$(acc):$(sys)_$(group)_MPS_PERM_C2:Reset_s.PROC")
    field(OUTC, "$(acc):$(sys)_$(group)_MPS_PERM_C3:Reset_s.PROC")
    field(OUTD, "$(acc):$(sys)_$(group)_MPS_PERM_C4:Reset_s.PROC")
}

#### Alarm #####
record(bi, "$(acc):$(sys)_$(group)_$(num):Alarm_r") {
    field(DESC, "Alarm reading params")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))KRIA_ALARM_R")
    field(SCAN, "I/O Intr")
}

record(stringin, "$(acc):$(sys)_$(group)_$(num):AlarmMsg_r") {
    field(DESC, "Error message")
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))KRIA_ALARM_MSG_R")
    field(SCAN, "I/O Intr")
}

record(bo, "$(acc):$(sys)_$(group)_$(num):AlarmAck_s") { 
    field(DESC, "Ack alarm")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=1))KRIA_ALARM_ACK_S")
    field(SCAN, "Passive")
}
